body, html {
  margin: 0;
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #555;
}

a {
  text-decoration: none;
  color: #555;
}


#content {
  position: absolute;
  margin: 0;
  width: 100%
}
#sidebar {
  height: 100%;
  width: 175px;
  position: absolute;
}

#sidebar-text {
  text-align: right;
  position: fixed;
  left: 50px;
  top: 50px;
}

#sidebar-text ul {
  list-style-type: none;
}

#profile-img {
  display: inline;
  float: right;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

#icons {
  margin: 0 auto;
  width: 50%;
  padding: 5%;
}

.section {
  margin: 5%;
  margin-left: 200px;
  display: block;
  position: relative;
}

#welcome {
  background-color: #f1faf3;
  border: #f1faf3 solid;
}


#about {
  background-color: #a9e2e2;
  border: #a9e2e2 solid;
  height: 300px;
}

#projects {
  background-color: #9cded0;
  border: #9cded0 solid;
  height: 300px;
}

#resume {
  background-color: #9bcede;
  border: #9bcede solid;
  height: 300px;
}
