body, html {
  margin: 0;
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #444;
}


h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: "Unica One", sans-serif;
}

h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2.25em;}
h4 {font-size: 1.75em;}
h5 {
  font-size: 1.25em;
  font-family: inherit;
  font-weight: normal;
}

ul {
  margin: 0 auto;
  text-align: left;
}


a {
  color: #444;
}

section {
  padding: 1em;
}


/* sidebar */
.sidebar-container {
  display: none;
  visibility: hidden;
}

/* title/intro section */
.profile-img {
  float: right;
  height: 200px;
  width: 200px;
  margin: 20px 50px;
  border-radius: 100px;
}

.intro-text {
  margin: 0 auto;
}


/* footer section */

.icons {
  margin: 0 auto;
  text-align: center;
}

.icons > a {
  text-decoration: none;
}

/* other sections */
#about {
  background-color: #f1faf3;
  border: #f1faf3 solid;
}

#projects {
  background-color: #a9e2e2;
  border: #a9e2e2 solid;
}

#resume {
  background-color: #9cded0;
  border: #9cded0 solid;
}

#contact {
  background-color: #9bcede;
  border: #9bcede solid;
}

@media(min-width: 650px) {
  ul {
    width: 70%;
  }
  /* sidebar */
  .sidebar-container {
    display: block;
    visibility: visible;

    position: absolute;
    margin: 0;
    width: 100%
  }

  .sidebar {
    position: absolute;
    height: 100%;
    width: 175px;
  }

  .sidebar-link {
    text-decoration: none;
    color: #444;
    font-size: 1.12em;
  }

  .sidebar-text {
    position: fixed;
    left: 50px;
    top: 50px;
    text-align: right;
  }

  .sidebar-text > ul {
    list-style-type: none;
  }

  /* other sections */
  section {
    padding-left: 200px;
  }
}
