/*

 blue: ##81d8d0
 yellow: #FFDB98
 light orange: #FFF7E8;
 pink: #FC979E

*/


body, html {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #050819;
}


h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: "Unica One", sans-serif;
}

h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2.25em;}
h4 {font-size: 1.75em;}
h5 {
  font-size: 1.25em;
  font-family: inherit;
  font-weight: normal;
}

ul {
  margin: 0 auto;
  text-align: left;
}


a {
  color: #444;
}

/* always allow for right-floating items in navbar */
.navbar-list:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* navbar */
.navbar-container {
  width: 100%;
  padding: 0;
  background-color: #81d8d0;
}

.navbar-list {
  list-style: none;
  padding: 0.25em;
  font-size: 3em;
}

.navbar-item {
  display: inline-block;
}

.navbar-item-right {
  float: right;
}

.navbar-item > a {
  /* use inline-block display + padding for bigger click target */
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}

.navbar-logo {
  border: 2px solid white;
  border-radius: 3em;
  font-family: "Unica One", sans-serif;
  /* smaller line ht for round logo */
  line-height: 1;
}

/* title/intro section */
.profile-img {
  float: right;
  height: 200px;
  width: 200px;
  margin: 2em 0;
  border-radius: 100px;
}

.intro-text {
  margin: 0 auto;
}

section {
  padding: 2em;
  border: 3em solid #FFF7E8;
}

.section-toggle {
  padding: 1em;
  text-align: center;
  text-decoration: underline;
  font-size: 1.3em;
  cursor: pointer;
}

.section-toggle + div {
  display: none;
  visibility: hidden;
}

.section-toggle.active + div {
  display: initial;
  visibility: initial;
}

