body, html {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #050819;
}


h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: "Unica One", sans-serif;
}

h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2.25em;}
h4 {font-size: 1.75em;}
h5 {
  font-size: 1.25em;
  font-family: inherit;
  font-weight: normal;
}

ul {
  margin: 0 auto;
  text-align: left;
}


a {
  color: #444;
}

section {
  padding: 1em;
  padding-bottom: 2em;
  margin: 3em;
  background-color: white;
}

section:not(:last-child) {
  border-bottom: 2px solid #B3D9D8;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.section-toggle {
  padding: 1em;
  text-align: center;
  text-decoration: underline;
  font-size: 1.3em;
  cursor: pointer;
}

.section-toggle + div {
  display: none;
  visibility: hidden;
}

.section-toggle.active + div {
  display: initial;
  visibility: initial;
}

.main {
  /*background-color: #FFF3EA;*/
}


/* sidebar */
.sidebar-container {
  display: none;
  visibility: hidden;
}

/* title/intro section */
.profile-img {
  float: right;
  height: 200px;
  width: 200px;
  margin: 2em 0;
  border-radius: 100px;
}

.intro-text {
  margin: 0 auto;
}


/* footer section */

.icons {
  margin: 0 auto;
  text-align: center;
}

.icons > a {
  text-decoration: none;
}

/* other sections */

.divider {
  height: 0.5em;
}

@media(min-width: 650px) {
  ul {
    width: 70%;
  }

  .main {
    position: absolute;
    top: 0;
    left: 180px;
  }
  /* sidebar */
  .sidebar-container {
    display: initial;
    visibility: initial;

    position: fixed;
    top: 0;
    bottom: 0;
    width: 175px;
    padding: 5px;

    background-color: #7CD6D2;
    background-image: linear-gradient(to right, #7CD6D2, #B3D9D8);
  }

  .sidebar-link {
    text-decoration: none;
    color: #444;
    font-size: 1.12em;
  }

  .sidebar-text {
    position: relative;
    top: 5em;

    text-align: right;
    list-style-type: none;
  }

  .profile-image {
    margin: 2em;
  }

}
